*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topBar {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.navigationList ul {
    display: flex;
    list-style: none;
    align-self: center;
}

.navigationList ul li {
    padding: 20px;
    cursor: pointer;
}

.topIconContainer {
    display: flex;
    align-self: center;
    font-size: 30px;
}

.topIcon {
    padding: 10px;
}

.searchIcon {
    align-self: center;
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
}